<form action="/insertar" method="post">
    <label for="nom">Nombre:</label>
        <input type="text" name="nombre" id="nom">
    <label for="edad">Edad:</label>
        <input type="number" name="edad" id="edad">
    <label for="email">Email:</label>
        <input type="email" name="email" id="email">
    <input type="submit" value="Enviar">
</form>

<div>
    
</div>